<form hx-post="/change-password"
      hx-target="#form-container"
      hx-swap="innerHTML">

  <div class="mb-3">
    <label class="form-label" for="current_password">Current Password</label>
    <input id="current_password"
           class="form-control {% if errors.currentPassword %}is-invalid{% endif %}"
           type="password"
           name="current_password"
           placeholder="Current password">
    {% if errors.currentPassword %}
    <div class="invalid-feedback">
      {{ errors.currentPassword }}
    </div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">New Password</label>
    <input id="password"
           class="form-control {% if errors.newPassword %}is-invalid{% endif %}"
           type="password"
           name="password"
           placeholder="New password">
    {% if errors.newPassword %}
    <div class="invalid-feedback">
      {{ errors.newPassword }}
    </div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label class="form-label" for="password_confirmation">Confirmation Password</label>
    <input id="password_confirmation"
           class="form-control {% if errors.passwordConfirmation %}is-invalid{% endif %}"
           type="password"
           name="password_confirmation"
           placeholder="Confirmation password">
    {% if errors.passwordConfirmation %}
    <div class="invalid-feedback">
      {{ errors.passwordConfirmation }}
    </div>
    {% endif %}
  </div>

  <div class="d-grid">
    <button class="btn btn-primary" type="submit">
      Update Password
    </button>
  </div>
</form>