<form hx-post="/forgot-password"
      hx-target="#form-container"
      hx-swap="innerHTML">

  <div class="mb-3 text-center">
    <label for="email" class="form-label">Email address</label>
    <div class="input-group mb-3">
      <span class="input-group-text">
        <svg class="icon">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
        </svg>
      </span>
      <input id="email"
        class="form-control {% if errors.email %}is-invalid{% endif %}"
        type="text"
        name="email"
        placeholder="Email"
        value="{{ formData.email | default('') }}">
      {% if errors.email %}
        <div class="invalid-feedback">
          {{ errors.email }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="d-grid">
    <button class="btn btn-primary" type="submit">
      Send Reset Link
    </button>
  </div>
</form>
{% if status %}
<div class="alert alert-success d-flex align-items-center mt-3" role="alert">
  <i class="bi bi-check-circle-fill me-2"></i>
  <div>
    {{ status }}
  </div>
</div>
{% endif %}