<form hx-post="/reset-password?token={{ formData.token }}"
      hx-target="#form-container"
      hx-swap="innerHTML">

    <div class="mb-3">
        <label class="form-label">New Password</label>
        <input class="form-control {% if (errors.token or errors.password) %}is-invalid{% endif %}"
               type="password"
               name="password"
               placeholder="New password">
        {% if (errors.token or errors.password) %}
        <div class="invalid-feedback">
            {{ (errors.password is not empty) ? errors.password : errors.token }}
        </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label class="form-label">Confirmation Password</label>
        <input class="form-control {% if errors.passwordConfirmation %}is-invalid{% endif %}"
               type="password"
               name="password_confirmation"
               placeholder="Confirmation password">
        {% if errors.passwordConfirmation %}
        <div class="invalid-feedback">
            {{ errors.passwordConfirmation }}
        </div>
        {% endif %}
    </div>

    <div class="d-grid">
        <button class="btn btn-primary" type="submit">
            Update Password
        </button>
    </div>
</form>

<div id="reset-password-result" class="mt-3"></div>