{% extends "layouts/auth.html" %}

{% block content %}
<!-- dummy field untuk menipu autofill -->
<input type="text" style="display:none">
<input type="password" style="display:none">

<div class="col-md-6">
    <div class="card mb-4 mx-4">
        <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-body-secondary">Create your account</p>
            <div id="form-container">
                {% include "pages/auth/fragments/register-form.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}